server {
    listen 443 ssl default_server;
    listen [::]:443 ssl default_server;
    server_name _;

    root {{ nginx_document_root }};
    index index.nginx-debian.html index.html;

    ssl_certificate {{ tls_cert_path }};
    ssl_certificate_key {{ tls_key_path }};
    ssl_ciphers HIGH:!aNULL:!MD5;
    ssl_prefer_server_ciphers on;
}
